<template>
  <div class="legend">
    <header>
      <h1>نقشه پیمانکارها</h1>
    </header>
    <table class="legend__table">
      <thead>
        <tr>
          <th>نشان</th>
          <th>صنعت</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><div class="legend__sign legend__sign--red" :style="{backgroundColor: colors.red}"></div></td>
          <td>پتروشیمی</td>
        </tr>
        <tr>
          <td><div class="legend__sign legend__sign--green" :style="{backgroundColor: colors.green}"></div></td>
          <td>پالایشگاه</td>
        </tr>
        <tr>
          <td><div class="legend__sign legend__sign--yellow" :style="{backgroundColor: colors.yellow}"></div></td>
          <td>گاز - نفت و گاز</td>
        </tr>
        <tr>
          <td><div class="legend__sign legend__sign--purple" :style="{backgroundColor: colors.purple}"></div></td>
          <td>سایر</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: 'Legend',
  props: ['colors']
}
</script>

<style lang="scss" scoped>
.legend {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0 5rem 0;
  grid-column: 1 / 2;

  &__table {
    width: 15rem;
    
    & td, & th {
      text-align: center;
    }

    & tr {
      height: 3rem;
    }
  }

  &__sign {
    border-radius: 50%;
    border: 1px solid darkgreen;
    height: 1rem;
    width: 1rem;
    display: inline-block;

    // &--red {
    //   background-color: red;
    // }

    // &--green {
    //   background-color: green;
    // }

    // &--yellow {
    //   background-color: yellow;
    // }

    // &--purple {
    //   background-color: purple;
    // }
  }
}
</style>
