<template>
  <div class="map">
    <img class="map__image" src="../assets/iran-map.jpg">
    <app-palayeshgah v-for="palayeshgah in palayeshgahList" :key="palayeshgah.name"
      :palayeshgah="palayeshgah" @showPeymankars="showPeymankarsFn(palayeshgah.name)" />
  </div>
</template>

<script>
import Palayeshgah from './Palayeshgah.vue';

export default {
  name: 'Map',
  props: ['palayeshgahList', 'showPeymankarsFn'],
  components: {
    AppPalayeshgah: Palayeshgah,
  }
}
</script>

<style scoped lang="scss">
.map {
  height: 100vh;
  position: relative;
  grid-column: 2 / 3;

  &__image {
    // width: 100%;
    // display: inline-block;
    height: 100%;
  }
}
</style>
