<template>
    <div class="palayesh" :style="{left: palayeshgah.left, bottom: palayeshgah.bottom}" >
      <div class="palayesh__icon" :style="{backgroundColor: palayeshgah.color}" @click="showPeymankars" :class="{hoverable: palayeshgah.peymankarList.length !== 0}"></div>
      <h5 class="palayesh__header" :style="{transform: palayeshgah.textLocation}">{{palayeshgah.palayeshgahName}}</h5>
    </div>
</template>

<script>
export default {
  name: 'Palayeshgah',
  props: ['palayeshgah'],
  methods: {
    showPeymankars() {
      if (this.palayeshgah.peymankarList.length !== 0) {
        this.$emit('showPeymankars')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.palayesh {
  position: absolute;
  width: 1px;
  height: 1px;
  

  &__icon {
    width: .8rem;
    height: .8rem;
    border: 1px solid darkgreen;
    border-radius: 50%;
    transition: all .2s;

    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
  }

  &__header {
    width: max-content;
    position: absolute;
  }
}

.hoverable:hover {
  cursor: pointer;
  width: 1.1rem;
  height: 1.1rem;
}
</style>
