<template>
  <div class="peymankarList">
    <header class="peymankarList__header">
      <h3>لیست پیمانکارهای</h3>
      <h3>{{palayeshgah.palayeshgahName}}</h3>
    </header>
    <ul class="peymankarList__items" :style="{backgroundColor: palayeshgah.color}">
      <app-peymankar v-for="peymankar in palayeshgah.peymankarList" :key="peymankar.peymankarName"
       :peymankarName="peymankar.peymankarName" />
    </ul>
  </div>  
</template>

<script>
import Peymankar from './Peymankar.vue'

export default {
  name: 'PeymankarList',
  props: ['palayeshgah'],
  components: {
    AppPeymankar: Peymankar
  }
}
</script>

<style lang="scss" scoped>
.peymankarList {
  height: max-content;
  // width: 80%;
  color: white;
  overflow-y: scroll;
  // position: absolute;
  // right: 0;
  grid-column: 3 / 4;

  &__header {
    text-align: center;
    border-bottom: 1px solid white;
    background-color: #005f92;
    padding: 1rem 0;
  }
}
</style>