<template>
  <li class="peymankar">
    <h3 class="peymankar__name">{{peymankarName}}</h3>
  </li>
</template>

<script>
export default {
  name: 'Peymankar',
  props: ['peymankarName'],

}
</script>

<style lang="scss" scoped>
.peymankar {
  padding: .5rem;
  height: 3rem;
  border-bottom: 1px solid white;

  &__name {
    text-align: center;
  }
}
</style>
