<template>
  <div id="app" class="container">
    <!-- <div class="container__side">
      
    </div> -->
    <app-legend :colors="colors" />

    <app-map :palayeshgahList="palayeshgahList" :showPeymankarsFn="showPeymankars" />
    
    <transition name="slide">
      <app-peymankar-list v-if="showPeymankarsList" :palayeshgah="chosenPalayeshgah" />
    </transition>
    <!-- <div class="container__side">
    </div> -->
  </div>
</template>

<script>
import Map from './components/Map.vue'
import PeymankarList from './components/PeymankarList.vue'
import Legend from './components/Legend.vue'

const colors = {
  red: '#FF0000',
  yellow: '#e6ac00',
  green: '#70AD47',
  purple: '#7030A0'
}

export default {
  name: 'App',
  data() {
    return {
      colors: colors,
      palayeshgahList: [
        {
          name: 'parseJonubi',
          palayeshgahName: 'پارس جنوبی',
          color: colors.yellow,
          left: '45.5%',
          bottom: '16%',
          textLocation: 'translate(-20%, -130%)',
          peymankarList: [
            {peymankarName: 'IMPI'},
            {peymankarName: 'OIEC'},
            {peymankarName: 'OTCC'},
            {peymankarName: 'پتروپارس'},
            {peymankarName: 'عمران صنعت'},
            {peymankarName: 'نیرپارس'},
            {peymankarName: 'همپا'}
          ]
        },
        {
          name: 'kermanshah',
          palayeshgahName: 'پتروشیمی کرمانشاه',
          color: colors.red,
          left: '17%',
          bottom: '60%',
          textLocation: 'translate(-60%, -130%)',
          peymankarList: [
            {peymankarName: 'پارس رگلاتور'},
            {peymankarName: 'نام آوران دلوار'}
          ]
        },
        {
          name: 'setareKhalijeFars',
          palayeshgahName: 'پالایشگاه ستاره خلیج فارس',
          color: colors.green,
          left: '65.5%',
          bottom: '15.5%',
          textLocation: 'translate(-70%, -130%)',
          peymankarList: [
            {peymankarName: 'فلات'},
            {peymankarName: 'مپنا توسعه ۳'},
            {peymankarName: 'نفت و گاز زاگرس'}
          ]
        },
        {
          name: 'khoormoj',
          palayeshgahName: 'ایستگاه تقویت فشار خورموج',
          color: colors.purple,
          left: '40%',
          bottom: '23%',
          textLocation: 'translate(-50%, -130%)',
          peymankarList: [
            {peymankarName: 'دانیال پترو'}
          ]
        },
        {
          name: 'booali',
          palayeshgahName: 'پتروشیمی بوعلی',
          color: colors.red,
          left: '31%',
          bottom: '34.5%',
          textLocation: 'translate(-80%, -120%)',
          peymankarList: [
            {peymankarName: 'PIDEMCO'}
          ]
        },
        {
          name: 'gachsaran',
          palayeshgahName: 'پتروشیمی گچساران',
          color: colors.red,
          left: '36.5%',
          bottom: '35%',
          textLocation: 'translate(-20%, -130%)',
          peymankarList: [
            {peymankarName: 'پناه صنعت پارت'}
          ]
        },
        {
          name: 'hengam',
          palayeshgahName: 'پتروشیمی هنگام',
          color: colors.red,
          left: '42%',
          bottom: '18%',
          textLocation: 'translate(-90%, 20%)',
          peymankarList: []
        },
        {
          name: 'parsian',
          palayeshgahName: 'پالایش گاز پارسیان',
          color: colors.yellow,
          left: '48%',
          bottom: '28%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'goorejask',
          palayeshgahName: 'خط لوله گوره-جاسک',
          color: colors.purple,
          left: '34.7%',
          bottom: '31.2%',
          textLocation: 'translate(-50%, 20%)',
          peymankarList: []
        },
        {
          name: 'ostanyazd',
          palayeshgahName: 'گاز استان یزد',
          color: colors.yellow,
          left: '51%',
          bottom: '44%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'ostanesfehan',
          palayeshgahName: 'گاز استان اصفهان',
          color: colors.yellow,
          left: '40%',
          bottom: '49%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'gharb',
          palayeshgahName: 'نفت و گاز غرب',
          color: colors.yellow,
          left: '25%',
          bottom: '49%',
          textLocation: 'translate(-30%, 20%)',
          peymankarList: []
        },
        {
          name: 'ostanhamedan',
          palayeshgahName: 'گاز استان همدان',
          color: colors.yellow,
          left: '25%',
          bottom: '63%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'naftiiran',
          palayeshgahName: 'پایانه های نفتی ایران',
          color: colors.purple,
          left: '40.5%',
          bottom: '64.7%',
          textLocation: 'translate(-50%, 20%)',
          peymankarList: []
        },
        {
          name: 'shahidtondgoyan',
          palayeshgahName: 'پالایش نفت شهید تندگویان',
          color: colors.green,
          left: '40.3%',
          bottom: '66.7%',
          textLocation: 'translate(10%, -60%)',
          peymankarList: []
        },
        {
          name: 'nafttehran',
          palayeshgahName: 'پالایش نفت تهران',
          color: colors.green,
          left: '38%',
          bottom: '66.8%',
          textLocation: 'translate(-100%, -110%)',
          peymankarList: []
        },
        {
          name: 'gaztehran',
          palayeshgahName: 'گاز استان تهران',
          color: colors.yellow,
          left: '40%',
          bottom: '69.5%',
          textLocation: 'translate(-20%, -120%)',
          peymankarList: []
        },
        {
          name: 'hasheminezhad',
          palayeshgahName: 'پالایش گاز هاشمی نژاد',
          color: colors.green,
          left: '77%',
          bottom: '71%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'mantaghe9',
          palayeshgahName: 'منطقه ۹ عملیات انتقال گاز',
          color: colors.yellow,
          left: '46%',
          bottom: '74.5%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'ostanardabil',
          palayeshgahName: 'گاز استان اردبیل',
          color: colors.yellow,
          left: '22.5%',
          bottom: '87%',
          textLocation: 'translate(-50%, -120%)',
          peymankarList: []
        },
        {
          name: 'ostanazarshargi',
          palayeshgahName: 'گاز استان آذربایجان شرقی',
          color: colors.yellow,
          left: '17%',
          bottom: '83%',
          textLocation: 'translate(0%, 0%)',
          peymankarList: []
        },
        {
          name: 'nafttabriz',
          palayeshgahName: 'پالایش نفت تبریز',
          color: colors.green,
          left: '15%',
          bottom: '83%',
          textLocation: 'translate(-100%, 10%)',
          peymankarList: []
        },
        {
          name: 'ostanazargharb',
          palayeshgahName: 'گاز استان آذربایجان غربی',
          color: colors.yellow,
          left: '7.3%',
          bottom: '85%',
          textLocation: 'translate(-40%, -120%)',
          peymankarList: []
        }
      ],
      showPeymankarsList: false,
      chosenPalayeshgah: null,
    }
  },
  components: {
    AppMap: Map,
    AppPeymankarList: PeymankarList,
    AppLegend: Legend
  },
  methods: {
    showPeymankars(name) {
      const palayeshgah = this.palayeshgahList.find(palayeshgah => palayeshgah.name === name);
      
      if (!this.showPeymankarsList) {
        this.showPeymankarsList = true
      } else if (this.showPeymankarsList && this.chosenPalayeshgah.palayeshgahName === palayeshgah.palayeshgahName) {
        this.showPeymankarsList = false
      } else if (this.showPeymankarsList && this.chosenPalayeshgah.palayeshgahName !== palayeshgah.palayeshgahName) {
        this.showPeymankarsList = false
        setTimeout(() => {
          this.showPeymankarsList = true
        }, 300)
      } 
      
      this.chosenPalayeshgah = palayeshgah
    }
  }
}
</script>

<style lang="scss">
* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  // display: flex;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;

  // &__side {
  //   flex-grow: 1;
      // color: #e6ac00;
  // }
}

.slide-enter {       
  opacity: 0; 
}

.slide-enter-active {
  animation: slide-in .3s ease-out forwards;
  transition: opacity .3s; 
}

.slide-leave-active {
  animation: slide-out .3s ease-out forwards;
  transition: opacity .3s;
  opacity: 0;
}
@keyframes slide-in {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100);
  }
}
</style>
